<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Kintama</string>
	<key>uuid</key>
	<string>9CF50E03-5CD6-4BA1-AE8E-D12A100BF37F</string>
</dict>
</plist>
